
body {
    background-image: url(785868.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}
.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-top: 8%;
    margin-left: 10%;
}
.navbar {
    background-color: rgba(87, 85, 85, 0.219);
}

.navbar-brand {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img {
    display: block ;
    height: auto;
    width: 25%;
    max-width: 100%;
    margin: auto;
}

.img::after {
    max-width: 785px;
    display: none;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    align-items: end;
}

.container-fuild {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

.card {
    background-color: rgba(87, 85, 85, 0.219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-footer {
    color: white;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}